---
layout: default
title: Analyzing
---

<div class="home">
  <ul class="post-list">
    {% assign files = site.static_files | reverse %}
    {% for file in files %}
      <li>
        {% assign ext = file.path | slice: -12, 12 %}
        {% if ext == "analysis.pdf" %}
          {% assign name_size = file.path | size | minus: 23 %}
          {% assign name = file.path | slice: 10, name_size %}
          {% assign date = file.path | slice: 1, 8 %}
          <span class="post-meta">{{ date }}</span>
          <a class="post-link" href="{{ file.path | prepend: site.baseurl }}">
              {{ name }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>