---
layout: default
title: Presenting
---

<div class="home">
  <ul class="post-list">
    {% for file in site.static_files %}
      <li>
        {% assign ext = file.path | slice: -8, 8 %}
        {% if ext == "talk.pdf" %}
          {% assign name_size = file.path | size | minus: 19 %}
          {% assign name = file.path | slice: 10, name_size %}
          {% assign date = file.path | slice: 1, 8 %}
          <span class="post-meta">{{ date }}</span>
          <a class="post-link" href="{{ file.path | prepend: site.baseurl }}">
              {{ name }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>