---
layout: default
title: Reading
---

<div class="home">

  {% include breadcrumb.html %}

  <ul class="post-list" style="list-style:none; margin-bottom: 10px;">
    {% for post in site.categories.reading %}
      <li style="margin-bottom: 8px;">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
        </a>
        <span class="post-subtitle" style="color: darkgrey; font-size: medium;">
          / {{ post.date | date: "%b %Y" }}
        </span>
      </li>
    {% endfor %}
  </ul>
  <!--
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  -->
</div>
