.sharebuttons {
  margin: 0 auto 0 auto;
}

.sharebuttons ul {
  margin: 10px 0 0 0;
  text-align: center;
}

.sharebuttons ul li {
  display: inline;
}

.sharebuttons li {
  margin-left: 10px;
}

.sharebuttons ul li a {
  text-decoration: none;
}

.sharebuttons ul li svg {
  width: 60px;
  height: 60px;
}

li{
  margin: 10px 0;
}
