---
layout: post
title:  "Vagueness, Verification and Modern Systems"
date:   2019-10-05 08:00 
categories: 
---

## Vagueness and Philosophy vs. Science 

Recently read this interesting article that argues against video verification in sports, that is using 
instant replay to assist referees in making close calls. The argument was basically as follows: inherently
rules in sports (and other domains of human activity) are very difficult to make specific enough to 
eliminate all **vagueness**, and so because of this vagueness gathering more data (e.g. video evidence) 
will ultimately increase rather than decrease the difficulty of these decisions. 

I think this may be right. I see this phenomenon regularly in my work in building data processing and 
analysis pipelines. When questions or interests are ill-defined (i.e. vague) then more data ultimately 
increases confusion rather than clarity. The closer you look at things you don't understand---especially 
if you have no specific strategy for how you want to understand that phenomenon---you the more you don't 
understand.

However, of course, I don't take this to be an argument against gathering data. In my opinion, that's a 
naive conclusion. The problem is with vagueness and non-specificity. As the precision and diversity of 
data/ information from our modern systems increases, we need to proportionally increase the specificness
of the questions we ask. And *most importantly*, the criteria by which we determine a question has been 
adequately answered or a decision can be made, that is a **decision rule**. Essentially, we need to more
clearly specify outcomes and how we come to them. 

It seems like we've come a long way as a society in terms of evidence gathering (measurement) as well as how 
to aggregate evidence to describe phenomenon (statistics) 





Working at a startup is kinda like you’re in some kind of rally car trying to win some kind of race, 
where the destination/ finish line is unknown, the specific directions unclear and your potential 
speed virtually limitless. 

But the faster you go the more fuel you use and you only have a limited amount of fuel (your 
fuel tank's only so big). So maybe you keep some fuel cans in reserve, or maybe some companies give 
you free fuel along the way, in exchange for putting some ads on your car. Or maybe you use that 
otherwise reserve fuel to boost your speed for a while, leaving none in reserve and you having to 
stop for more. 

But, since the destination's unknown, even if you decide to move faster it’s not clear you’re going 
in the right or wrong direction more quickly. And, even more, since you’re human your tolerance for 
speed is also limited: you might get sick from the turbulence and/or afraid of a 
crash.<sup id="a1">[1](#f1)</sup> So basically you go as fast as you and your vehicle can tolerate.

For some reason, I envision this as some kind of scene from an old Charlie Chaplin film where’s 
there’s no sound and it’s slapstick all the way: he’s running around in this Model T looking thing 
driving as fast as he can on this muddy, bumpy road stopping every once and a while to get out and
fill up using a fuel can, spilling and tripping as he does. It’s alot like that. Except, 
of course: startups aren’t Model T’s, they can go as fast you can tolerate. And it's also not as 
funny. 


## Implications of Rolling Start + Unknown Route

Oh and by the way, there’s no official start to these races. They only start *for you* when *you* start 
them, but they've typically started for everyone else already and you don’t know how far ahead the others
are because you can't see them as they're scattered along "the route". And, even more, even when you 
can see them, you don’t know precisely where the finish is anyway so it's difficult to tell who's 
ahead. It could be that even though you've started later, you're closer to the finish because your 
product at its inception is more like the final, winning solution in some possibly very fundamental 
way.  

A nice, concrete example here might be Facebook: there were many social networking websites existing 
in 2004 when it came onto the scene, but somehow very clearly it won out. The main reasons they won
are (a) they solved the *identity problem* in that they tied people's accounts to their college 
email addresses (as a way of verifying their identity) and (b) they moved quickly. So they started 
out closer to the final, winning solution at their starting point, and they moved more quickly than
the others in realizing that solution

And I think all of this implies for other startups that it's definitely worth giving thought to your 
starting point, how you can somehow position yourself fundamental closer to the final, winning 
solution. Which isn't easy, you have to envision the end point, the finish line (the final solution) 
without a proper map and then plot the route from there.<sup id="a2">[2](#f2)</sup>  


## Times N 

And this is all also a simplification, because you’re usually not focused on a single big
race,<sup id="a3">[3](#f3)</sup> you’re really thinking about some handful of small races *N*. And 
you have some fleet of vehicles, each with limited fuel, drivers and all the rest. And, even more, 
there are an almost infinite number of potential races you can join, but you have to find them, 
in some cases pay some fee to enter, and then go through all the operational/ logistical hurdles to 
get your vehicles to some starting point (which again is vague and unspecific) with proper fuel, 
drivers and all the rest. 

In short, it’s a challenging and tricky business trying to make something new into something 
valuable, to beat others who happen to be trying for the same thing.  


<br>
<br>

------

<br> 

<a name="f1">1.</a> G-forces aren’t pleasant. 

<a name="f2">2.</a> Another tricky bit here is the challenge of not setting your sights too low 
(like possibly early social networking sites did), to envision the best end point possible. And 
useful here is a framework from AirBnB founder, Brian Chesky, called the 11-star experience. Think 
of a 5-star hotel, and how it compares to a 1-star hotel. What is the equivalent of a 5-star hotel 
of your product type? What about an 11-star equivalent? 

<a name="f3">3.</a> Though likely this is the best way to do it.






    




  
