---
toc: true
layout: post
title:  "Vagueness, Verification and Modern Systems"
date:   2019-10-05 08:00 
categories: 
---

## Vagueness and Philosophy vs. Science 

Recently read this interesting article that argues against video verification in sports, that is using 
instant replay to assist referees in making close calls. The argument was basically as follows: inherently
rules in sports (and other domains of human activity) are very difficult to make specific enough to 
eliminate all **vagueness**, and so because of this vagueness gathering more data (e.g. video evidence) 
will ultimately increase rather than decrease the difficulty of these decisions. 

I think this may be right. I see this phenomenon regularly in my work in building data processing and 
analysis pipelines. When questions or interests are ill-defined (i.e. vague) then more data ultimately 
increases confusion rather than clarity. The closer you look at things you don't understand---especially 
if you have no specific strategy for how you want to understand that phenomenon---you the more you don't 
understand.

However, of course, I don't take this to be an argument against gathering data. In my opinion, that's a 
naive conclusion. The problem is with vagueness and non-specificity. As the precision and diversity of 
data/ information from our modern systems increases, we need to proportionally increase the specificness
of the questions we ask. And *most importantly*, the criteria by which we determine a question has been 
adequately answered or a decision can be made, that is a **decision rule**. Essentially, we need to more
clearly specify outcomes and how we come to them. 

It seems like we've come a long way as a society in terms of evidence gathering (measurement) as well as how 
to aggregate evidence to describe phenomenon (statistics) 










    




  
