<!DOCTYPE html>
<html>
<!-- mathjax javascript -->

  {% include head.html %}

  <body>
      
    <nav class="navbar navbar-expand-sm bg-light hidden-xs hidden-sm">
        <div class="container-fluid">
                <!--<h4>Tim Farrell</h4>-->
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="{{ "/index.html" | prepend: site.baseurl }}">About</a></li>
                    <li class="nav-item"><a href="{{ "/writing.html" | prepend: site.baseurl }}">Writing</a></li>
                    <li class="nav-item"><a href="{{ "/analyzing.html" | prepend: site.baseurl}}">Analyzing</a></li>
                    <li class="nav-item"><a href="{{ "/presenting.html" | prepend: site.baseurl }}">Presenting</a></li>
                    <li class="nav-item"><a href="https://github.com/tmfarrell">Programming</a></li>
                </ul>&nbsp;
        </div>
    </nav>

    <div class="fifteen columns offset-by-one content">
      <div class="wrapper">         <!----> 
        {{ content }}
      </div>
    </div>

  </body>
  <script
       src="http://code.jquery.com/jquery-3.2.1.js"
       integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
       crossorigin="anonymous"></script>
</html>
